In [24]:
import json
js = json.dumps(inventory)
fd = open('inventory.json','w')
fd.write(js)
fd.close()

In [25]:
fd = open("inventory.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [26]:
for i in records:
  print('Product ID:{}, Name: {}, Cost: {}, Company: {}'.format(i,records[i]['Name'], records[i]['Cost'], records[i]['Company']))

Product ID:700001, Name: Basketball, Cost: 350, Company: NIVIA
Product ID:700002, Name: Football, Cost: 900, Company: NIKE
Product ID:700003, Name: Volleyball, Cost: 700, Company: NIVIA
Product ID:700004, Name: Cricket ball, Cost: 250, Company: Kookaburra
Product ID:700005, Name: Tennis ball, Cost: 70, Company: Cosco
Product ID:700006, Name: Baseball, Cost: 350, Company: Arnav
Product ID:700007, Name: Hockey ball, Cost: 200, Company: cameo
Product ID:700008, Name: Bowling ball, Cost: 600, Company: Cosco
Product ID:700009, Name: American Football, Cost: 650, Company: NIKE
Product ID:700010, Name: Handball, Cost: 280, Company: Adidas
Product ID:700011, Name: Golfball, Cost: 180, Company: Reebok
Product ID:700012, Name: Tennis cock, Cost: 140, Company: NIVIA
Product ID:700013, Name: Cricket bat, Cost: 1500, Company: Reebok
Product ID:700014, Name: Hockey stick, Cost: 900, Company: NIKE
Product ID:700015, Name: Tennis Racket, Cost: 780, Company: NIVIA
Product ID:700016, Name: Badminton Racket, Cost: 450, Company: NIVIA
Product ID:700017, Name: Volleyball net, Cost: 1000, Company: Arnav
Product ID:700018, Name: Cricket shoes, Cost: 850, Company: Reebok
Product ID:700019, Name: Stud, Cost: 1000, Company: NIKE
Product ID:700020, Name: Supporter, Cost: 280, Company: Reebok
Product ID:700021, Name: Cricket gloves, Cost: 500, Company: Reebok
Product ID:700022, Name: Keeping gloves, Cost: 700, Company: Adidas
Product ID:700023, Name: Skipping rope, Cost: 200, Company: NIKE
Product ID:700024, Name: Stumps, Cost: 300, Company: Cosco
Product ID:700025, Name: Cricket kit, Cost: 2500, Company: Adidas
Product ID:700026, Name: Football kit, Cost: 2000, Company: NIVIA
Product ID:700027, Name: Basketball kit, Cost: 1500, Company: Adidas
Product ID:700028, Name: Handball kit, Cost: 1200, Company: NIKE
Product ID:700029, Name: Air pump, Cost: 400, Company: Anand
Product ID:700030, Name: Helmet, Cost: 500, Company: NIKE

In [27]:
ui_name = str(input("Customer name: "))
ui_prodID  = str(input("Enter the Product Id: "))
ui_quant = int(input("Enter the quantity: "))

print("*" * 20)
print(ui_name)
print("*" * 20)
print(" ")
print("Product: ", records[ui_prodID]['Name'])
print("Cost: ", records[ui_prodID]['Cost'])
print("Quantity bought: ", ui_quant)
print(" ")
print("*" * 20)
print(" ")
print("Billing Amount: ", records[ui_prodID]['Cost'] * ui_quant)
print("*" * 20)

records[ui_prodID]['Quantity'] = records[ui_prodID]['Quantity'] - ui_quant

Customer name: Shubham Bandekar
Enter the Product Id: 700025
Enter the quantity: 2
********************
Shubham Bandekar
********************

Product:  Cricket kit
Cost:  2500
Quantity bought:  2

********************

Billing Amount:  5000
********************

In [28]:
js = json.dumps(records)

fd = open("inventory.json",'w')
fd.write(js)
fd.close()

In [29]:
sales = {'Customer name:' : ui_name, 'Name': records[ui_prodID]['Name'], 'Product ID' : ui_prodID, 'Quantity' : ui_quant, 'Billing amount': records[ui_prodID]['Cost'] * ui_quant}
sale = json.dumps(sales)
fd = open("sales.json",'w')
fd.write(sale)
fd.close()